# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next
out
dist

# 環境変数
.env
.env.*
!.env.example

# テスト
coverage
.nyc_output

# その他
.git
.gitignore
README.md
.DS_Store
*.log
